<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Fantasy Forum</title>
</head>
<%- include('../partials/header') %>
<div>
<form id="new-form" action="/fposts" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Description:</label>
  <input type="text" name="description">
  <button type="submit">submit</button>
</form>
</div>
<%- include('../partials/footer') %>
</html>

